<!-- <Menu> -->
<div class="flex justify-center border mt-4 p-4">
  <div class="flex justify-center">
    <a href="#" class="p-4"><%= lang.index.header.home %></a>
    <a href="#" class="p-4"><%= lang.index.header.card %></a>
    <a href="#" class="p-4"><%= lang.index.header.album %></a>
    <a href="#" class="p-4"><%= lang.index.header.timeline %></a>
  </div>
  <div class="flex justify-center">
    <a href="#" class="p-4"><%= lang.index.header.vi %></a>
    <a href="#" class="p-4"><%= lang.index.header.en %></a>
  </div>

  <!-- </Menu> -->
</div>
